/* start head section */
.azeret-mono {
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 28px;
}

.head-nav {
    display: flex;
    justify-content: space-between;
    margin: 10px 150px;
    text-align: center;
}

.head-class {
    border: #0D1321;
    border-style: ridge;
    color: #0D1321;
    background-color: white;
    border-radius: 8px;
    padding: 5px 30px;
    font-size: 16px;
    font-weight: 500;
    display: inline;
    text-decoration: none;  
    margin: 35px;
}

.head-main { 
    background-image: url('/assets/Hero-bg.png');
    width: 100%; 
    height: 600px;   
}

.head-img {
    text-align: center;
    padding: 50px;

}

.h11 {
    font-size: 35px;
    line-height: 1.5;
}

.azeret {
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
}

.head-btn {
    border: #0D1321;
    border-style: ridge;
    background-color: #0D1321;
    color: white;
    border-radius: 8px;
    padding: 5px 30px;
    font-size: 20px;
    font-weight: 300;
    display: inline;
    text-decoration: none;  
    margin: 20px;
}
/* end of head section */

/* inspiration start */
.web-dev {
    background: rgba(13, 19, 33, 0.02);
    margin: 50px 100px 0px 100px; 
    padding-bottom: 10px;
}

.web-dev-inspiration {
    display: flex;
    justify-content: space-between;
}


.web-dev-secondary-ins-bg {
    background-color: white;
    height: 350px;
    margin: 50px 50px 50px 50px;
}

.web-dev-head {
    text-align: center;
    padding-top: 50px;
}

.inspiration-btn {
    border: black;
    border-style: ridge;
    background: rgba(13 , 19, 33, 2%);
    color:  #0D1321;
    padding: 5px 30px;
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;  
    margin: 10px 100px;
}

.web-dev-inspiration-head {
    font-size: 35px;
    margin: 60px 100px 25px 100px;
    opacity: 70%;
}

.web-dev-inspiration-description {
    margin: 30px 100px;
}

.web-dev-inspiration-img {
    margin: 60px 100px ;
    height: 250px;
    width: 300px;
}

/* inspiration end */

/* youtube start */

.youtube-head {
    padding-top: 50px;
}

.youtube-title {
    text-align: center;
}

.youtube-video {
    /* margin-top: 80px; */
    margin: 50px 250px;
}

.youtube-main {
    align-items: center;
}

/* youtube end */

/* current target start */

.current-target-tltle {
    text-align: center;
}

.current-azeret {
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    padding-bottom: 30px;
}

.all-learn {
    color: black;
}

.current-target-html {
    background-color: rgba(255, 76, 30, 0.05);
    padding: 25px 25px;
    border-radius: 6%;
}

.current-target-css {
    background-color: rgba(0, 76, 232, 0.05);
    padding: 25px 25px;
    border-radius: 6%;
}

.current-target-js {
    background-color: rgba(255, 223, 0, 0.05);
    padding: 25px 25px;
    border-radius: 6%;
}

.current-target-skill {
    display: flex;
    justify-content: space-evenly;
    margin: 0px 190px;
}

/* current target end */

/* next target start */

.azeret-mono-next-target {
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 20px;
}

.next-azeret {
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    padding-bottom: 20px;
    padding-right: 35px;
}

.next-target-alignment {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
    border: 1px solid;
    padding-top: 15px;
    padding-bottom: 30px;
    padding-left: 35px;
    border-radius: 20px;
}

.next-target-margin {
    margin-top: 30px;
}

/* next target end */

/* footer start */
.azeret-mono-footer {
    font-family: "Azeret Mono", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 20px;
}

.footer-bg {
    margin-top: 60px;
    background-color: rgba(13, 19, 33, 0.03);
    height: 100px;
}

.footer-main {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

.footer-img {
    padding-right: 25px;
    padding-top: 15px;
}

/* footer end */